*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
h1,h2,h3,h4,h5,h6,p,ul,li,a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    min-width: 300px;
}
/* ******************************************************************* */
/* HEADER START */
/* ******************************************************************* */

.header__nav{
    background: #000;
    border-radius: 8px;
    margin-top: 25px;
}

.header__nav-link{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    display: flex;
    background: #7f15e6;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    margin-left: 10px;
    text-decoration: none;
}

.header__nav-link:hover{
    background: #d4aafd;
    color: #7f15e6;
}

.header__link{
    background: #000;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 25px;
    padding: 8px;
    height: 62px;
}

.header__link-ul{
    display: flex;
}

.header__link-lang{
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    width: 51px;
    height: 44px;
    border: 2px solid #ff118c;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-right: 7px;
    text-decoration: none;
}

.header__link-lang:hover{
    background: #ff118c;
    color: #fff;
}

.bell{
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    margin-right: 15px;
    transition: 0.5s;
}

.bell:hover{
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}

/* ********************************************************************************************* */
/* SLIDER */
/* ********************************************************************************************* */

.carousel-control-slider{
    width: 34px;
    height: 26px;
    border: none;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 0 15px 0 #a7a7a7;
    color: #6d00e3;
}

.slider-button{
    padding: 3px;
    border-radius: 50px;
    border: 2px solid #6d00e3;
    width: 84px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 14px;
}

.slider{
    margin-top: 42px;
}

.carousel-caption{
    text-align: initial;
}

.slider__block{
    position: relative;
}

.slider__block-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-title{
    font-size: 30px;
    color: #fff;
    max-width: 364px;
    width: 100%;
}

.slider-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 51px 0 41px 41px;
}

.slider-ul{
    display: flex;
    margin-top: 45px;
}

.slider-text-p{
    font-size: 17px;
    margin-right: 38px;
    color: #fff;
}

.slider-link{
    width: 164px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #dc267c, #bd0d60);
    border-radius: 8px;
    color: #fff;
    margin-top: 30px;
    transition: 0.5s;
    text-decoration: none;
}

.slider-link:hover{
    background: #fff;
    color: #bd0d60;
    box-shadow: 0 0 15px 5px #a7a7a7;
}